<div class="row">
  <div *ngIf="professorSelecionado">
    <div class="row">
      <div class="col">
        <app-titulo [titulo] = "'Professor: ' + professorSelecionado.id"></app-titulo>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-sm btn-outline-danger mt-2" (click)="voltar()">Fechar</button>
      </div>
    </div>
  
    <form [formGroup]="profForm" (submit)="submitProfForm()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Nome">
      </div>
      <div class="form-group">
        <label for="Disciplina">Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control" id="Disciplina" placeholder="Disciplina">
      </div>
      <button class="btn mt-2 btn-success">Enviar</button>
    </form>
  </div>
  
  <div *ngIf="!professorSelecionado">
    <app-titulo [titulo] = "titulo"></app-titulo>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores">
          <td><button class="btn btn-sm btn-outline-warning" (click)="selecionaProfessor(prof)">Detalhe</button></td>   
          <td scope="row">{{prof.id}}</td>   
          <td>{{prof.nome}}</td>
          <td>{{prof.disciplina}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-primary">Editar</button>
              <button class="btn btn-sm btn-outline-danger">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
